/* 
    Document   : evaluaciondesempeno
    Created on : 18-feb-2013, 17:47:51
    Author     : Fabian
    Description:
        Purpose of the stylesheet follows.
*/

.content_ingresarnuevocompromiso{ 
    padding-left: 10px;
}

