/* 
    Document   : home
    Created on : 22/03/2013, 04:56:24 PM
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
} 
 
.MenuInicial {
	width: 100%;
	height: 400px;
}

.MenuInicial #Desempeno {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
        width: 30%;
	height: 400px;
	float: left;
        margin: 15px 15px 35px 15px;
        background-color: #003366;
        box-shadow: 10px 10px 5px #888888;
}

.MenuInicial #Competencias {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
        width: 30%;
	height: 400px;
	float: left;
        margin: 15px 15px 35px 15px;
        background-color: #006699;
        box-shadow: 10px 10px 5px #888888;
}

.MenuInicial #Reclutamiento {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
        width: 30%;
	height: 400px;
	float: left;
        margin: 15px 15px 35px 15px;
        background-color: #0099CC;
        box-shadow: 10px 10px 5px #888888;
}

.MenuInicial #Brechas {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
        width: 30%;
	height: 400px;
	float: left;
        margin: 15px 15px 35px 15px;
        background-color: #0099CC;
        box-shadow: 10px 10px 5px #888888;
}

.MenuInicial #TituloD {	
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    
	width: 100%;
	height: 100px;
	float: left;
	background-color: #003366;
}

.MenuInicial #ContenidoD {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 97.75%;
	height: 300px;
	float: left;
	background-color: #FFFFFF;
        border: solid #003366;
}

.MenuInicial #TituloC {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 100%;
	height: 100px;
	float: left;
	background-color: #006699;
}

.MenuInicial #ContenidoC {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 97.75%;
	height: 300px;
	float: left;
	background-color: #FFFFFF;
        border: solid #006699;
}

.MenuInicial #TituloR {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 100%;
	height: 100px;
	float: left;
	background-color: #0099CC;
}

.MenuInicial #ContenidoR {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 97.75%;
	height: 300px;
	float: left;
	background-color: #FFFFFF;
        border: solid #0099CC;
}

.MenuInicial #TituloB {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 100%;
	height: 100px;
	float: left;
	background-color: #0099CC;
}

.MenuInicial #ContenidoB {	
	-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        
	width: 97.75%;
	height: 300px;
	float: left;
	background-color: #FFFFFF;
        border: solid #0099CC;
}

.MenuInicial #Desempeno:hover {
    box-shadow: 14px 14px 9px #888888;
}

.MenuInicial #Competencias:hover {
    box-shadow: 14px 14px 9px #888888;
}

.MenuInicial #Reclutamiento:hover {
    box-shadow: 14px 14px 9px #888888;
}

.MenuInicial #Brechas:hover {
    box-shadow: 14px 14px 9px #888888;
}

.MenuInicial h1 {
  padding: 25px;
  color: #FFFFFF;
}

a.boton {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
        
        background-color:transparent;
        width: 70%;
	border: 1px solid #003366;
	display: inline-block;
	color: #003366;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 24px;
	text-decoration: none;
        text-align: center;
	margin: 5px 15px 10px 15px;
}

a.boton:hover {
    background-color: #003366;
    color: #FFFFFF;
}
